<%= form_for [@event, @talk], :html => { :class => 'form-horizontal' } do |f| %>
  <%= render 'shared/errors_for', :obj => @talk %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :event_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :event_id, options_from_collection_for_select(Event.all, :id, :name) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :abstract, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :abstract, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :start_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :start_at, :class => 'date_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :end_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :end_at, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :download_link, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :download_link, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :attendance, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :attendance, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                event_talks_path(@event), :class => 'btn' %>
  </div>
<% end %>
