= javascript_tag do
  var rating_to_message = eval(#{rating_to_message.to_json.html_safe})
  var rating_to_class = eval(#{rating_to_class.to_json.html_safe})
.page-header
  %h2#talk_name
    = @talk.name
    %small
      - if @talk.ended?
        "Oh Crap! The gang is gone."
      - elsif @talk.started?
        "Time to Bark!"
      - elsif @talk.yet_to_start?
        "Too eager for a dog fight? Be a little patient :)"
  .pull-right
    - @talk.presenters.each do |presenter|
      = image_tag(gravatar(presenter.email, 70), :class => 'img-circle')
  .clearfix
#accordion.panel-group
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
          What is it about?
    #collapseOne.panel-collapse.collapse.in
      .panel-body
        .well= @talk.abstract

- if @talk.started?
  #rating_widget
    .pull-left
      = link_to 'Awesome', rate_event_talk_path(@event, @talk, :rating => '5'), :class => 'btn btn-success btn-block btn-huge rating'
    .pull-left
      = link_to 'WTF', rate_event_talk_path(@event, @talk, :rating => '-5'), :class => 'btn btn-danger btn-block btn-huge rating'
    .clearfix
  %br
  #rating_progress.progress.progress-striped
    - (1..Talk::SLOT).each do |slot|
      - if r = @ratings.detect{|r| r.interval == slot}
        .bar{:style => 'width: 16.66%', :id => "rate_#{slot}", :class => rating_to_class[r.value.to_s]}
          = rating_to_message[r.value.to_s]
      - else
        .bar.bar-sleep{:style => 'width: 16.66%;', :id => "rate_#{slot}"}

  - talk_slots(@talk).each do |interval|
    .time_slot
      =interval[:message]
      %br
      %i.icon-time
        =interval[:slot].strftime("%k:%M")
- else
  .well You can only bark when the fight is on. Whats the fun otherwise :)

