= javascript_tag do
  var rating_to_message = eval(#{rating_to_message.to_json.html_safe})
  var rating_to_class = eval(#{rating_to_class.to_json.html_safe})
  var rating_classes = eval(#{rating_to_class.values.to_json.html_safe})
.page-header
  %h2#talk_name
    = @talk.name
    -#= link_to @talk.name, '#aboutModal', "data-toggle" => "modal", 'data-target' => '#talk_details'
    %br
    %small
      - if @talk.ended?
        "Oh Crap! The gang is gone."
      - elsif @talk.started?
        "Time to Bark!"
      - elsif @talk.yet_to_start?
        Too eager for a dog fight? Be a little patient
        %i.icon-smile
  .pull-right
    - @talk.presenters.each do |presenter|
      .span3
        %center
          = image_tag(gravatar(presenter.email, 100), :class => 'img-circle')
          -#= link_to image_tag(gravatar(presenter.email, 80), :class => 'img-circle'), '#aboutModal', "data-toggle" => "modal", 'data-target' => "#myModal#{presenter.id}"
  .clearfix

- if @talk.started?
  #rating_widget
    = link_to '#', rate_event_talk_path(@event, @talk), :class => 'hide', :id => 'url'
    %input.rating_slider{:type => 'text', :value => ''}
      .request.alert.alert-success Thank you for voting!
      .instruction.alert Drag the slider and release to vote.
    .clearfix
  %br
  #rating_progress.progress.progress-striped
    - (1..Talk::SLOT).each do |slot|
      - if r = @ratings.detect{|r| r.slot == slot}
        .bar{:style => 'width: 16.66%', :id => "rate_#{slot}", :class => rating_to_class[r.value.to_s]}
          = rating_to_message[r.value.to_s]
      - else
        .bar.bar-sleep{:style => 'width: 16.66%;', :id => "rate_#{slot}"}

  - @talk.time_slots.each do |slot|
    .time_slot
      %i.icon-time
        =time_slot_format(slot)
%br
%br
.well
  = @talk.abstract
  %i.icon-smile
-#.span7
-#.span3.pull-right
-#  - @talk.presenters.each do |presenter|
-#    = link_to image_tag(gravatar(presenter.email, 80), :class => 'img-circle'), '#aboutModal', "data-toggle" => "modal", 'data-target' => "#myModal#{presenter.id}"
-#    .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", :id => "myModal#{presenter.id}"}
-#      .modal-dialog
-#        .modal-content
-#          .modal-header
-#            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
-#            %h4#myModalLabel.modal-title
-#              = "More About #{presenter.name}"
-#          .modal-body
-#            %center
-#              = image_tag(gravatar(presenter.email, 100), :class => 'img-circle')
-#              %h3.media-heading
-#                = presenter.name
-#                %small
-#                  %i.icon-twitter= "(#{presenter.twitter_handle})"
-#              - if presenter.company.present?
-#                %span
-#                  %strong= "#{presenter.position} @ #{presenter.company}"
-#            %hr
-#              %center
-#                %p.text-left
-#                  %strong Bio:
-#                  %br
-#                    = presenter.bio
-#                %br
-#          .modal-footer
-#            %center
-#              %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}= "I've heard enough about #{presenter.name}"
-#
