= javascript_tag do
  var rating_to_message = eval(#{rating_to_message.to_json.html_safe})
  var rating_to_class = eval(#{rating_to_class.to_json.html_safe})
.page-header
  %h1#timeline
    = @talk.name
    .pull-right
      - @talk.presenters.each do |presenter|
        = image_tag(gravatar(presenter.email, 30))
    .clearfix
#rating_widget
  .pull-left
    = link_to 'Awesome', rate_event_talk_path(@event, @talk, :rating => '5'), :class => 'btn btn-success btn-block btn-huge rating'
  .pull-left
    = link_to 'WTF', rate_event_talk_path(@event, @talk, :rating => '-5'), :class => 'btn btn-danger btn-block btn-huge rating'
  .clearfix
%br
#rating_progress.progress
  - (1..Talk::SLOT).each do |slot|
    - if r = @ratings.detect{|r| r.interval == slot}
      .bar{:style => 'width: 16.66%', :id => "rate_#{slot}", :class => rating_to_class[r.value.to_s]}
        = rating_to_message[r.value.to_s]
    - else
      .bar{:style => 'width: 16.66%', :id => "rate_#{slot}"}

.talk-timeline


