.container
  - if @event
    .page-header
      %h1#timeline
        = @event.name
    %ul.timeline
      - @talks.each_with_index do |talk, i|
        %li{:class => ("timeline-inverted" if (i+1)/2 != 0)}
          .timeline-badge.success
            %i.glyphicon.glyphicon-check
          .timeline-panel
            .timeline-heading
              %h2.timeline-title
                = talk.name
              %p
                By:
                - talk.presenters.each do |presenter|
                  = image_tag(gravatar(presenter.email, 40))
              %p
                %small.text-muted
                  %i.glyphicon.glyphicon-time
                  Starting in #{distance_of_time_in_words(talk.start_at, Time.now)}
                  |
                  Run time : #{distance_of_time_in_words(talk.start_at, talk.end_at)}
            .timeline-body
              %p
                = truncate(talk.abstract, length: 200, omission: '... (continued)')
              %p
                = link_to 'Enter', capture_rating_page_event_talk_path(talk.event, talk), :class => 'btn btn-success btn-lg'
  - else
    .well
      No events to show
